<% if (title) { %>
    <h1 class="title-h1"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <%- messages() %>

    <% if (errors) { %>
        <ul class="error">
            <% errors.array().forEach(error => { %>
            <li>* <%= error.msg %></li>
            <% }) %>
        </ul>
        <% } %>

    <section class="form-cont">
        <h2>Message</h2>
        <form id="new-mess-form" action="/message/new-message" method="post">  
          <p>All fields are required.</p>
          <label for="message_to">To:</label>
          <%- select %>
          <label for="subject">Subject:</label>
          <input
                type="text"
                name="message_subject"
                id="subject"
                required
                value="<%= locals.message_subject %>">
          <label for="message_body">Message:</label><textarea  
            name="message_body" 
            id="message_body" 
            required
            rows="10" 
            cols="50"
        ><%= locals.message_body %></textarea>
        
        <input type="hidden" name="message_from"
        <% if(locals.accountData.account_id) { %> value="<%= locals.accountData.account_id %>"
        <% } %>>
          <button type="submit" id="form-sub">Send</button>
        </form>

        <a href="/message" title="Click to go to inbox">Return to Inbox</a>
      </section>